/* ==========================================================================
   button / 
   ========================================================================== */

.button {
    display: inline-block;
    padding: 5px 10px;
    border-radius: var(--border-radius);
    background: (var(--gradient-primary));
    border: 1px solid var(--color-primary);

    &:hover {
        background: var(--gradient-secondary);
        border-color: var(--color-secondary);
        color: var(--color-white);
    }

    // Variante 2
    &--secondary {
        background: var(--gradient-secondary);
        border-color: var(--color-secondary);
        color: var(--color-black);

        &:hover {
            background: (var(--gradient-primary));
            border-color: var(--color-primary);
            color: var(--color-black);
        }
    }
}
