/* ==========================================================================
   CONTACT / 
   ========================================================================== */

.contact {
    padding: var(--spacing-xl) 0;
    @media (max-width: $breakpoint-sm) {
        padding: var(--spacing-lg) 0;
    }
    h2 {
        margin-bottom: var(--spacing-md);
    }
}

/*
 Champs de formulaire
 ========================================================================== */

.fields {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing-md);
    cursor: none;
    @media (max-width: $breakpoint-sm) {
        display: flex;
        flex-direction: column;
    }
}

.field {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
    cursor: none;

    label {
        font-size: var(--font-size-h4);
        letter-spacing: 3%;
        font-weight: bold;
    }

    input,
    textarea {
        background: var(--color-background);
        border: 1px solid var(--color-secondary);
        border-radius: var(--border-radius);
        padding: var(--spacing-sm);
        color: var(--color-white);
        cursor: none;

        &:-webkit-autofill {
            -webkit-text-fill-color: var(--color-white);
            -webkit-box-shadow: 0 0 0px 1000px var(--color-background) inset;
            caret-color: var(--color-white);
        }
    }
}

.field--message {
    grid-column: 1 / -1;

    textarea {
        min-height: 150px;
        resize: vertical;
    }
}

/*
 Mise en page contact (formulaire + coordonnées)
 ========================================================================== */

.contact__grid {
    display: flex;
    gap: var(--spacing-sm);

    .contact__form {
        flex: 2;
    }

    .contact__side {
        flex: 0 1 auto;
        display: flex;
        flex-direction: column;
        gap: var(--spacing-sm);
        align-items: baseline;
    }

    @media (max-width: $breakpoint-sm) {
        display: flex;
        flex-direction: column;
    }
}

.legal {
    margin: auto auto 0 auto;
    text-align: center;
}
