/* ==========================================================================
   footer / 
   ========================================================================== */

.footer {
    border-top: 1px solid var(--color-primary);
    padding: 50px 0;

    p {
        text-align: center;
        margin-top: var(--spacing-md);
    }

    /*
     Structure générale
     ========================================================================== */

    .footer__content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .nom {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--spacing-sm);
    }

    /*
     Listes / menu
     ========================================================================== */

    ul {
        display: flex;
        flex-direction: column;
        gap: 50px;
        margin: 0;
        padding: 0;

        li {
            list-style: none;
        }

        a {
            font-weight: 400;
        }
    }

    .menu {
        ul {
            align-items: flex-end;
        }
    }

    /*
     Coordonnées / réseaux sociaux
     ========================================================================== */

    .coordonates {
        a {
            color: var(--color-primary);
        }
    }

    .socials {
        padding: 10px;
        background: var(--gradient-background);
        border-radius: var(--border-radius);
        color: var(--color-background);
        border: 1px solid var(--color-secondary);
        display: flex;
        gap: 15px;
    }
}
