/* ==========================================================================
   header / 
   ========================================================================== */

.header {
    border-bottom: 1px solid var(--color-primary);
    background: #1a1a1a;
    background: linear-gradient(
        0deg,
        rgba(26, 26, 26, 1) 0%,
        rgba(42, 42, 42, 1) 50%,
        rgba(16, 16, 16, 1) 100%
    );
    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 75px;
    }

    ul {
        display: flex;
        gap: 50px;
        padding: 0;
        margin: 0;
    }
    li {
        list-style: none;
    }
}
