/* ==========================================================================
   hero / 
   ========================================================================== */

.hero {
    min-height: 750px;
    padding: 100px 0 var(--spacing-lg);
    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    .hero__content {
        position: relative;
        h3 span {
            font-weight: 400;
        }
    }
    .nom {
        display: flex;
        justify-content: space-between;
    }
    .list-icons {
        flex-direction: column;
        position: fixed;
        top: 50%;
        left: 0;
        transform: translate(var(--spacing-sm), -50%);
        z-index: 10;

        .play-button {
            top: 50%;
            left: 100%;
        }
    }
}

.hero__media {
    display: flex;
    justify-content: center;

    .window {
        position: relative;
        z-index: 2;
        width: 588px;
        height: 400px;
        .window__content {
            display: flex;
            align-items: flex-end;
            justify-content: center;
            position: relative;
            clip-path: inset(-100vh 0 0 0);
        }
    }
    img {
        position: absolute;
        bottom: -275px;
        height: 265%;
        width: auto;
    }
}
