/* ==========================================================================
   icons / component
   ========================================================================== */

.icon {
    fill: currentColor; // inherit color of its context
    display: inline-block;
    flex: 0 0 auto; // prevent icon shrink/grow if in a flex parent
    height: 1em;
    vertical-align: middle;
    width: 1em;
    stroke: transparent;
}

.icon--stroke {
    fill: transparent;
    stroke: currentColor;
}

.icon--xs {
    height: 0.75em;
    width: 0.75em;
}

.icon--sm {
    height: 0.8em;
    width: 0.8em;
}

.icon--md {
    height: 1em;
    width: 1em;
}

.icon--lg {
    height: 50px;
    width: 50px;
}

.icon--xl {
    height: 7em;
    width: 7em;
}

.logo--link {
    position: relative;
    background: var(--gradient-secondary);
    border-radius: var(--border-radius);
    color: var(--color-background);
    border: 1px solid var(--color-secondary);
    .logo--icon {
        padding: 5px;
    }
    &:hover {
        background: var(--gradient-primary);
        border-color: var(--color-primary);
        color: var(--color-black);
        &::before {
            content: attr(aria-label);
            position: absolute;
            background: var(--gradient-background);
            padding: var(--spacing-xs);
            border: 1px solid var(--color-secondary);
            border-radius: var(--border-radius);
            color: var(--color-white);
            font-weight: 400;
            bottom: 120%;
            left: 50%;
            transform: translateX(-50%);
            white-space: nowrap;
            pointer-events: none;
        }
    }
}
