/* ==========================================================================
   projets / 
   ========================================================================== */

.projets {
    padding: var(--spacing-lg) 0;

    /*
     Structure générale
     ========================================================================== */

    .cards {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-xl);
        @media screen and (max-width: $breakpoint-sm) {
            gap: 200px;
        }
    }

    .card {
        display: grid;
        grid-template-columns: 7fr 5fr;
        gap: var(--spacing-md);
        align-items: center;

        &:nth-child(even) {
            grid-template-columns: 5fr 7fr;

            .card__content {
                order: -1;
            }
        }
    }

    /*
     Média (image + hover)
     ========================================================================== */

    .card__media {
        .window {
            height: 500px;
        }
    }

    .card:hover .window__media img {
        filter: saturate(1);
        transform: scale(var(--scale-size));
    }

    /*
     Contenu texte
     ========================================================================== */

    .card__content {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-sm);

        .button {
            text-align: center;
        }
    }

    /*
     Responsive — Mobile : une colonne, média en haut et contenu en bas
     ========================================================================== */

    @media screen and (max-width: $breakpoint-sm) {
        padding: var(--spacing-lg) 0;
        .card,
        .card:nth-child(even) {
            grid-template-columns: 1fr;
        }

        .card:nth-child(even) .card__content {
            order: 0;
        }

        .card__media .window {
            height: 100%;
        }

        .list-icons {
            width: 100%;
        }

        .window__footer {
            display: none;
        }
    }
}
