/* ==========================================================================
   HEADINGS / ELEMENT
   ========================================================================== */

h1,
h2,
h3,
h4 {
    line-height: 1.1;
    font-weight: 400;
    margin: 0;
}

h1 {
    font-family: var(--font-secondary);
    font-size: var(--font-size-h1);
    line-height: 1;
    text-transform: uppercase;
}

h2 {
    font-family: var(--font-black);
    font-size: var(--font-size-h2);
    text-transform: uppercase;
}

h3 {
    font-family: var(--font-secondary);
    font-size: var(--font-size-h3);
    text-transform: uppercase;
}

h4 {
    font-size: var(--font-size-h4);
    letter-spacing: 0.03em;
    font-weight: bold;
}

p {
    margin: 0;
    &.small {
        font-size: var(--font-size-small);
    }
}

.title {
    @include panel;
    display: flex;
    align-items: center;
    gap: var(--spacing-sm);
    width: fit-content;
    @media (max-width: $breakpoint-sm) {
        width: 100%;
    }
}

span {
    &.accent--primary {
        color: var(--color-primary);
        font-weight: bold;
    }
}
