/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff;
    --color-black: #000;

    // Couleurs du projet
    --color-primary: #fb3640;
    --color-secondary: #878787;

    --color-background: #141212;

    --gradient-background: linear-gradient(
        0deg,
        #1a1a1a 0%,
        #2a2a2a 50%,
        #101010 100%
    );
    --gradient-primary: linear-gradient(
        0deg,
        #481e20 0%,
        var(--color-primary) 100%
    );
    --gradient-secondary: linear-gradient(0deg, #696969 0%, #cfcfcf 100%);
    --gradient-play: linear-gradient(
        0deg,
        rgba(40, 240, 248, 1) 0%,
        rgba(14, 146, 254, 1) 38%,
        rgba(36, 92, 219, 1) 58%,
        rgba(72, 122, 236, 1) 100%
    );
}
