/* ==========================================================================
   DIMENSIONS / SETTINGS
   ========================================================================== */

// Valeurs utilisées pour les médias query
$breakpoint-xxs: 475px;
$breakpoint-xs: 550px;
$breakpoint-sm: 768px;
$breakpoint-md: 1024px;
$breakpoint-lg: 1200px;
$breakpoint-xl: 1440px;
$breakpoint-xxl: 1920px;

:root {
    --spacing-xs: 5px;
    --spacing-s: 10px;
    --spacing-sm: 15px;
    --spacing-m: 20px;
    --spacing-md: 30px;
    --spacing-lg: 50px;
    --spacing-xl: 100px;

    --border-radius: 3px;
    --grid-gap: 24px;
    --grid-gap-mobile: 12px;
}
