{% include '_partials/_header.html' %}

<section class="hero">
    <div class="wrapper">
        <div class="hero__content">
            <h3>
                <span class="accent--primary">Designer</span>
                /
                <span class="accent--primary">Créateur</span>
                déterminé.
            </h3>
            <div class="nom">
                <h1>Emile</h1>
                <h1>Hebert</h1>
            </div>
        </div>
        <div class="hero__media">
            <div class="window">
                <div class="window__content"><img src="assets/images/Portfolio_portrait_web.png" alt="Portrait" /></div>
                <div class="window__footer">
                    <p class="small">Photo prise par : Loïc Blanchette-Favela</p>
                    <a href="#" class="button">Voir mes projets</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about">
    <div class="wrapper">
        <h2>En tant que créateur multimédia...</h2>
        <div class="about__grid">
            <div class="window friend">
                <div class="window__header">
                    <p>Mes meilleurs amis</p>
                </div>
                <div class="window__content"><img src="assets/images/about-friends.webp" alt="Friends" /></div>
            </div>

            <div class="text intro">
                <p>
                    J'approfondis la
                    <span class="accent--primary">qualité visuelle</span>
                    de mes projets
                    <span class="accent--primary">3D et interactifs</span>
                    en me mettant à la place du spectateur pour sentir si ça surprend et se comprend d'un coup d'œil. Ma
                    <span class="accent--primary">vision créative</span>
                    me pousse à peaufiner le détail que personne d'autre n'aurait remarqué.
                </p>
            </div>

            <div class="window cat">
                <div class="window__header">
                    <p>Mon chat</p>
                </div>
                <div class="window__content"><img src="assets/images/about-friends.webp" alt="Friends" /></div>
            </div>

            <div class="window artist">
                <div class="window__header">
                    <p>Mon artiste préféré</p>
                </div>
                <div class="window__content"><img src="assets/images/about-friends.webp" alt="Friends" /></div>
            </div>

            <div class="window couple">
                <div class="window__header">
                    <p>Mon couple</p>
                </div>
                <div class="window__content"><img src="assets/images/about-friends.webp" alt="Friends" /></div>
            </div>

            <div class="text passion">
                <p>
                    Je suis passionné par
                    <span class="accent--primary">l'esthétique rétro</span>
                    des années 2000 et les vieux hardwares, j'aiguise mon regard dans la
                    <span class="accent--primary">vidéo</span>
                    le
                    <span class="accent--primary">streetwear</span>
                    et la
                    <span class="accent--primary">musique.</span>
                </p>
            </div>

            <div class="window camera">
                <div class="window__header">
                    <p>Ma caméra VHS</p>
                </div>
                <div class="window__content"><img src="assets/images/about-friends.webp" alt="Friends" /></div>
            </div>

            <div class="skill skill--soft">
                <h4>Soft Skills</h4>
                <ul>
                    <li class="tag">Créativité</li>
                    <li class="tag">Curiosité</li>
                    <li class="tag">Minutie</li>
                    <li class="tag">Obsesion du détail</li>
                    <li class="tag">Dépassement de soi</li>
                </ul>
            </div>

            <div class="skill skill--hard">
                <h4>Hard Skills</h4>
                <ul>
                    <li class="tag">Design UI/UX</li>
                    <li class="tag">Création Multimédia</li>
                    <li class="tag">Dev Web</li>
                    <li class="tag">Dev jeux vidéo</li>
                    <li class="tag">Dev interactif</li>
                </ul>
            </div>

            <div class="tool">
                <h4>Logiciels et languages que je maîtrises</h4>
                <a href="#">
                    <svg class="icon icon--lg logo--icon">
                        <use xlink:href="#icon-instagram"></use>
                    </svg>
                </a>
                <a href="#">
                    <svg class="icon icon--lg logo--icon">
                        <use xlink:href="#icon-instagram"></use>
                    </svg>
                </a>
                <a href="#">
                    <svg class="icon icon--lg logo--icon">
                        <use xlink:href="#icon-instagram"></use>
                    </svg>
                </a>
                <a href="#">
                    <svg class="icon icon--lg logo--icon">
                        <use xlink:href="#icon-instagram"></use>
                    </svg>
                </a>
                <a href="#">
                    <svg class="icon icon--lg logo--icon">
                        <use xlink:href="#icon-instagram"></use>
                    </svg>
                </a>
                <a href="#">
                    <svg class="icon icon--lg logo--icon">
                        <use xlink:href="#icon-instagram"></use>
                    </svg>
                </a>
                <a href="#">
                    <svg class="icon icon--lg logo--icon">
                        <use xlink:href="#icon-instagram"></use>
                    </svg>
                </a>
                <a href="#">
                    <svg class="icon icon--lg logo--icon">
                        <use xlink:href="#icon-instagram"></use>
                    </svg>
                </a>
                <a href="#">
                    <svg class="icon icon--lg logo--icon">
                        <use xlink:href="#icon-instagram"></use>
                    </svg>
                </a>
                <a href="#">
                    <svg class="icon icon--lg logo--icon">
                        <use xlink:href="#icon-instagram"></use>
                    </svg>
                </a>
                <a href="#">
                    <svg class="icon icon--lg logo--icon">
                        <use xlink:href="#icon-instagram"></use>
                    </svg>
                </a>
            </div>

            <div class="cta">
                <p>Intéressé? jasons un peu...</p>
                <a href="#" class="button">Me contacter</a>
            </div>
        </div>
    </div>
</section>

{% include '_partials/_footer.html' %}

<!--
<div class="window">
    <div class="window__header">
        <p>Mytasks.exe</p>
        <a href="#" class="button button--secondary">X</a>
    </div>
    <div class="window__content"></div>
    <div class="window__footer">
        <p class="small">Photo prise par : Loïc Blanchette-Favela</p>
        <a href="#" class="button">Voir mes projets</a>
    </div>
</div>
-->
