{% include '_partials/_header.html' %}

<section class="hero">
    <div class="wrapper">
        <div class="hero__content">
            <h3>
                <span class="accent--primary">Designer</span>
                /
                <span class="accent--primary">Créateur</span>
                déterminé.
            </h3>
            <div class="nom">
                <h1>Emile</h1>
                <h1>Hebert</h1>
            </div>
        </div>
        <div class="hero__media">
            <div class="window">
                <div class="window__content"><img src="assets/images/Portfolio_portrait_web.png" alt="Portrait" /></div>
                <div class="window__footer">
                    <p class="small">Photo prise par : Loïc Blanchette-Favela</p>
                    <a href="#" class="button">Voir mes projets</a>
                </div>
            </div>
        </div>
    </div>
</section>

{% include '_partials/_footer.html' %}
