{% include '_partials/_header.html' %}

<section class="hero">
    <div class="wrapper">
        <div class="hero__content">
            <h3>Designer / Créateur déterminé.</h3>
            <h1>Émile</h1>
            <h1>Hébert</h1>
        </div>
        <div class="hero__media">
            <div class="window">
                <div class="window__content"><img src="portrait" alt="Portrait" /></div>
                <div class="window__footer">
                    Photo prise par : Loïc Blanchette-Favela
                    <a href="#" class="button">Voir mes projets</a>
                </div>
            </div>
        </div>
    </div>
</section>

{% include '_partials/_footer.html' %}
