{% include '_partials/_header.html' %}

<section class="projet-single">
    <div class="wrapper">
        <div class="info">
            <div class="into__left">
                <h2>route en boucle à l’infini</h2>
                <h4>Projet étudiant / 2025</h4>
                <h4 class="tag">Animation 3D / Création Environnement</h4>
                <p class="description">
                    Réalisé en solo au Cégep Édouard-Montpetit, ce projet est une animation 3D relevant le défi technique d'un circuit en boucle infinie sur
                    Blender. Le projet met en scène une bataille Lego Star Wars sur Endor entre les deux personnages les plus iconiques de la saga.
                </p>
            </div>
            <div class="into__right">
                <div class="window">
                    <div class="window__header">
                        <p>Capture d’écran de l’environnement</p>
                    </div>
                    <div class="window__content">
                        <div class="window__media">
                            <img
                                src="assets/images/about-friends.webp"
                                alt="Mes amis et moi"
                                title="Moi, Charles et Mathieu durant notre voyage en Nouvelle-Écosse, on se connait depuis le secondaire."
                            />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% include '_partials/_footer.html' %}
